# --- LibreNMS Admin Credentials ---
LIBRENMS_ADMIN_USER=admin
LIBRENMS_ADMIN_PASS=changeme
LIBRENMS_ADMIN_EMAIL=admin@example.com

# --- LibreNMS API Token ---
# After first launch, log into LibreNMS (localhost:8001), generate an API token, and paste it here.
LIBRENMS_API_TOKEN=changeme

#For multi-tentancy
JWT_SECRET=92995f5d82cada3e6b3f8f5011d29f258f9e25f0470423da26f74a8827aeb1c1